<ion-view title="Order a Pizza" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="orderAPizza-heading1" style="color:#000000;" class=" ">Make your pizza:</h3>
        <form id="orderAPizza-form1" class="list ">
            <label class="item item-input " id="orderAPizza-input1">
                <span class="input-label">Name Your Pizza</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="orderAPizza-toggle1" class=" ">Extra Cheese</ion-toggle>
            <ion-item class="item-divider " id="orderAPizza-list-item-divider1">Toppings</ion-item>
            <ion-radio id="orderAPizza-radio1" name="toppings" class=" ">Papperoni</ion-radio>
            <ion-radio id="orderAPizza-radio4" name="toppings" class=" ">Sausage</ion-radio>
            <ion-radio id="orderAPizza-radio5" name="toppings" class=" ">Mushrooms</ion-radio>
        </form>
        <a ui-sref="tabsPizzaOrderCart.pizzaCheckout" id="orderAPizza-button1" class=" button button-assertive button-large button-block icon-left ion-ios-cart ">Add to Cart</a>
    </ion-content>
</ion-view>