<ion-view title="Pizza Checkout" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="pizzaCheckout-list1" class=" ">
            <ion-item class="item-thumbnail-left  " id="pizzaCheckout-list-item2">
                <img src="img/jowLVVXSTCgq5IABzaWg_Margherita.jpg">
                <h2>Margherita</h2>
                <p>has sausage and Cheese</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="pizzaCheckout-list-item1">
                <img src="img/9tjREDOuTEGEbshK0ATt_Butter Chicken Pizza.jpg">
                <h2>Butter Chicken Pizza</h2>
                <p>has sausage and Cheese</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="pizzaCheckout-list-item4">
                <img src="img/yigr8M5VSMmOnrTpGLe3_BBQ Chicken pizza.jpg">
                <h2>BBQ Chicken pizza</h2>
                <p>has sausage and Cheese</p>
            </ion-item>
        </ion-list>
        <button id="pizzaCheckout-button2" class=" button button-balanced button-large button-block icon-left ion-cash ">Checkout</button>
    </ion-content>
</ion-view>