<ion-view title="Tabs Pizza Order Cart" id="page1" class=" ">
    <ion-tabs class="tabs-assertive tabs-icon-top " id="tabsPizzaOrderCart-tabs1">
        <ion-tab title="Order" icon="ion-pizza" href="#/page1/order" id="tabsPizzaOrderCart-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cart" icon="ion-ios-cart" href="#/page1/tab2/page3" id="tabsPizzaOrderCart-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>